<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SDET Automation Suite" thread-count="1" parallel="methods">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="API Regression Tests">
        <groups>
            <run>
                <include name="api"/>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="api.BookingApiTests"/>
        </classes>
    </test>
</suite>