<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SDET Automation Suite" thread-count="4" parallel="tests">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Functional Regression Tests">
        <groups>
            <run>
                <include name="api"/>
                <include name="regression"/>
                <include name="ui"/>
            </run>
        </groups>
        <packages>
            <package name="api.*"/>
            <package name="ui.*"/>
            <package name="db.*"/>
        </packages>
    </test>

    <test name="BDD Scenarios (Cucumber)">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>